{% load static %}

<link rel="stylesheet" href="{% static 'css/admin_panel.css' %}">
<nav class="admin-menu">
  <a href="{% url 'pedidos_admin' %}">Pedidos</a>
  <a href="{% url 'productos_admin' %}">Productos</a>
  <a href="{% url 'agregar_producto_admin' %}">Agregar producto</a>
  <a href="{% url 'agregar_personalizacion_admin' %}">Agregar personalización</a>
</nav>

<h1>Editar producto: {{ producto.nombre }}</h1>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Guardar cambios</button>
  <a href="{% url 'productos_admin' %}" style="margin-left: 15px;">Volver</a>
</form>