{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/catalogo.css' %}">

<h1>Catálogo</h1>

<div class="grid">
  {% for producto in productos %}
    <a href="{% url 'detalle_producto' producto.id %}" style="text-decoration: none; color: inherit;">
      <div class="producto-card">
        {% if producto.imagen %}
          <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
        {% endif %}
        <div class="producto-info">
          <h3>{{ producto.nombre }}</h3>
          <p>{{ producto.descripcion }}</p>
          <p><strong>${{ producto.precio }}</strong></p>
        </div>
      </div>
    </a>
  {% endfor %}
</div>
{% endblock %}

